main {
    display: flex;
    flex-direction: column;
    font-size: large;
    color: black;
    padding:0px 20px 90px 20px;
    justify-content: center;
    line-height: 40px ;
    font-weight:500;
}
h1 {
    font-size: 30px;
    
} 