.buttons {
    /* margin: 0%; */
    padding: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4.5px;
    background-color: black;
}
button {
  display: inline-block;
  color: white;
  background-color: transparent;
  border: none;
  text-decoration: none;
  font-size: medium;
  font-weight: bold;
}