.navbar {
    background-color: white;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0px 20px ;
    opacity: 1.0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-size: large;
}

.nav-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    list-style: none;

}
.nav-logo {
    width: 60px;
}